<footer class="footer text-center bg-secondary">
    <div class="container footer-interior main-content">
        <div class="row">
            <!-- Footer About Text-->
            <div class="col-lg-6">
                <h4 class="text-uppercase mb-4 agora-font-3em"><a class="a-light" href="/about">Agora</a></h4>
                <p class="lead mb-0">
                    An open, collaborative and forever free environment where we can conduct our learning, research our ideas, and remember all the lessons we learn, forever.  An environment that is not owned by an academic institution or corporation but by everyone.  Guided only by virtue and principles.
                </p>
            </div>

            <!-- Footer Social Icons-->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Social Media</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.youtube.com/c/CodingCoach"><i class="fab fa-youtube"></i></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/gormanly/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                <!-- <a href="https://www.youtube.com/channel/UC8fdekVhEilBTuBK322WjVw?sub_confirmation=1"><img class="nuge-forward yt-sub btn btn-social" src="/assets/img/yt-subscribe.png" class="img-fluid" /></a> -->
            </div>
        </div>
    </div>
</footer>