<div class="container navbar-interior main-content">
    <span>
        <a class="navbar-brand js-scroll-trigger" href="/">
            <!-- <img class="d-none d-md-block" src="/assets/img/logos/agora-title.png?text=big+logo" style="height:65px" />
            <img class="d-md-none" src="/assets/img/logos/agora-logo-2023-1.png?text=small+logo" style="height:65px" /> -->
            <img src="/assets/img/logos/Agora-Logo-1-wText-400.png?text=big+logo" style="height:65px" />
        </a>
    </span>
    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
        data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
</div>