<div class="container navbar-interior main-content">
    <span>
        <a class="navbar-brand js-scroll-trigger" href="/">
            <!-- <img class="d-none d-md-block" src="/assets/img/logos/agora-title.png?text=big+logo" style="height:65px" />
            <img class="d-md-none" src="/assets/img/logos/agora-logo-2023-1.png?text=small+logo" style="height:65px" /> -->
            <img src="/assets/img/logos/Agora-Logo-1-wText-400.png?text=big+logo" style="height:65px" />
        </a>
    </span>
    
    <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" style="padding-left: 3%;">
        <ul class="nav navbar-nav ml-auto agora-font" style="display:flex;">

            <% if(!locals.authUser) { %>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/signIn">SIGN IN</a>
                </li>
            <% } %>
            
            <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                    href="/community">COMMUNITY</a></li> -->
            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                    href="/dashboard">DASHBOARD</a></li>
            <% if( process.env.AGORA_PRODUCT_PAGE=='true' ) { %>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/codebot">Products</a>
                </li>
            <% } %>
            <% if( process.env.AGORA_ABOUT_PAGE=='true' ) { %>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">ABOUT</a>
                </li>
            <% } %>
            <% if(locals.authUser) { %>
                <li class="nav-item mx-0 mx-lg-1">
                    <%
                    if( locals.authUser.profileFilename.toString().substring(0, 7) == "http://" || locals.authUser.profileFilename.toString().substring(0, 8) == "https://" ) {
                        %>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger profile-picture btn-light btn-light-hover" href="/profile/manageProfile" style="margin-left: auto; margin-right: 0;">
                            <img src="<%- locals.authUser.profileFilename %>" alt="User Dash" title="User Dashboard" class="profile-top-image" />
                        </a>    
                        <%
                    } else {
                        %>
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger profile-picture btn-light btn-light-hover" href="/profile/manageProfile" style="margin-left: auto; margin-right: 0;">
                            <img src="<%= process.env.AVATAR_IMAGE_WEB_PATH%><%- locals.authUser.profileFilename %>" alt="User Dash" title="User Dashboard" class="profile-top-image" />
                        </a>
                        <%
                    }
                    %>


                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a href="/signOut" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger">Sign Out</a>
                </li>
                
            <% } %>
            
        </ul>

    </div>
    
</div>