

<div class="modal fade" id="workspace-tutorial-modal" tabindex="-1" role="dialog" aria-labelledby="workspace-tutorial-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="create-workspace-modal-label">Workspace</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <div class="modal-body">
            
            <section>
                <hr />
                <img src="/assets/img/tutorial/dashboard.png" style="width: 98%;" />

            </section>

        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
</div>
