<div>
  <h1>Welcome</h1>
  <% const test = ["Chicken","Steak","Miso","Fish","Bugs"] %> <% for(let i = 0;
  i < test.length; i++){ %>
  <div class="row row-cols-1 row-cols-md-3 g-4" id="gallery-row">
  
    </div>
    <% } %>
  </div>
</div>
