<!--set id after cloning-->

<div class="flex-column" id="comment-template" style="display: none">
    <div class="flex-row">
        <span class="material-symbols-outlined" style="margin: 0"></span>
        <span class="discussion-user"></span>
    </div>
    <div class="comment-body"></div>
    <div class="comment-footer flex-row">
        <button id="like-button" class="like-button flex-row">
            <span class="material-symbols-outlined like-icon">thumb_up</span>
            <span style="margin: 2px 0 0 1px">0</span>
        </button>
        <hr class="footer-hr">
        <span class="post-date"></span>
    </div>
    <hr style="width: 100%;">
</div>