<!-- The Modal -->
<div id="resource-modal-div" class="new-resource-modal">

  <!-- Modal content -->
  <div class="resource-modal-content">

    <span class="close">&times;</span>
    <h4 id="modal-title">Workspace Manager</h4>


    <div id="resource-modal-body">
        <!--Resource Options-->
        <div class="manager-options" id="resource-options">
            <h6 class="modal-option-header">Resources</h6>

            <!--Create New Document-->
            <div class="option-div" id="create-doc-div">
                <span class="material-symbols-outlined modal-icon">description</span>
                <div class="option" id="new-doc">Create New Document</div>
            </div>

            <!--Upload File-->
            <div class="option-div" id="file-upload-div">
                <span class="material-symbols-outlined modal-icon">upload_file</span>
                <div class="option" id="file-upload">Upload A File</div>
            </div>  
        </div>

        <div id="options-divider"></div>

        <!--Topic Options-->
        <div class="manager-options" id="topic-options">
            <h6 class="modal-option-header">Topics</h6>
            
            <!--Create New Topic-->
            <div class="option-div" id="create-topic-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option" id="new-topic">Create New Topic</div>
            </div>

            <!--Open Existing Topic-->
            <div class="option-div" id="open-topic-div">
                <span class="material-symbols-outlined modal-icon">folder_open</span>
                <div class="option" id="open-topic">Open Existing Topic</div>
            </div>
        </div>
    </div>


  </div>
</div>