.note-body {
    transition: margin-left .5s;
}

#page-content {
    height: inherit;
    position: inline-block;
}

.header {
    margin-bottom: 5px;
    padding: 10px 10px;
    position: relative;
}

#new-tag {
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 30px;
}

.placeholder {
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 0px;
}

.placeholder:focus {
    border-bottom: 3px solid #2c3e50;
    outline: 0;
}

#tag-placeholder {
    font-size: 20px;
    margin-left: 5px;
}

#button-div {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.note-buttons {
    width: 10%;
    border: none;
    padding: 10px;
}

#save-note {
    background-color: #2c3e50;
    color: white;
    margin-top: 30px;
}

#cancel {
    margin-bottom: 30px;
}

#save-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 200ms all ease-in-out;
}

#note-div {
    display: block;
    width: 99%;
}

/* .testing {
    cursor: pointer;
    border-style:solid;
    width: 20%;
    text-align: center;
  }

  #myResource {
    position:absolute;
    z-index: 1;
    transform:translate(-50%,-50%);
    width: 20%;
    border:2px solid black;
    width: 20%;
    text-align: center;
  }
  #circle {
    position:absolute;
    z-index: 1;
    transform:translate(-50%,-50%);
    height:35px;
    width:35px;
    border-radius:50%;
    border:2px solid black;
  } */

  