.note-body {
    transition: margin-left 5s;
}

  #page-content {
    height: 1300px;
  }

.header-div {
    font-size: 36px;
    padding: 0px;
}

.header {
    margin-bottom: 5px;
    padding: 10px 10px;
}

#new-tag {
    font-size: smaller;
    margin-top: 5px;
    margin-bottom: 30px;
}

.placeholder {
    border: none;
    border-bottom: 1px solid gray;
    padding-left: 0px;
}

.placeholder:focus {
    border-bottom: 3px solid #2c3e50;
    outline: 0;
}

#tag-placeholder {
    font-size: 20px;
    margin-left: 5px;
}

.note-container {
    display: flex;
    border-style: double;
    border-width: 5px;
    margin: 0 auto;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f5;
    padding-left: 100px;
    padding-right: 100px;
    width: 85%; 
    position: relative;
}

#ellipsis {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 40px;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

#suggestion {
    color: black;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 5px;
    position: absolute;
    top: 2px;
    right: 70px;
    height: 40px;
    width: 70px;
    margin-top: 5px;
}

#button-div {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

.note-buttons {
    width: 10%;
    border: none;
    padding: 10px;
}

#save-note {
    background-color: #2c3e50;
    color: white;
    margin-top: 30px;
}

#cancel {
    margin-bottom: 30px;
}

#save-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 200ms all ease-in-out;
}

#tools {
    height: 450px;
    width: 100px;
    padding-right: 100px;
    position: absolute; 
    right: 0; 
    top: 275px;
    overflow: hidden;
}

#note-div {
    display: flex;
    width: 95%;
}

#tools-container {
    display: none;
    flex-wrap: wrap;
    text-align: center;
    height: 350px;
}

.material-symbols-outlined, #show-files {
    font-size: 90px;
    color: black;
    cursor: pointer;
    padding: 10px 10px;
    flex-direction: column;
}

#left-chevron {
    font-size: 60px;
    padding: 9px 16px;
}

#right-chevron {
    font-size: 60px;
    padding: 9px 16px;
}

.right-chevron {
    display: none;
    position: absolute;
    right: 100px;
    top: 266px;
    font-size: 60px;
    padding: 9px 16px;
}

.show-tools {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 0px 0px 15px;
    height: 80px;
    width: 100px;
    position: absolute; 
    right: 0; 
    overflow: hidden;
}

.hide-tools {
    border-style: solid;
    border-width: 1px;
    border-radius: 15px 0px 0px 15px;
    border-right: none;
    margin-right: 2px;
    height: 80px;
    width: 100px;
    position: absolute; 
    right: 0; 
    overflow: hidden;
}

.hidden {
    display: none;
}

#file-display {
    height: 450px;
    width: 250px;
    position:absolute;
    right: 5px;
    top: 750px;
    overflow: auto;
}

.file-display-shown {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.file-display-content {
    float: right;
    display: flex;
    flex-direction: row;
    padding: 0;
    background-color: transparent
}

.file-display-content:hover {
    text-decoration: none;
}

.file-display-icon {
    position: relative;
    left: 180px;
    padding: 0; 
    margin: 0; 
    font-size: 49px;
}
.file-display-icon:hover {
    background-color: #f4f4f5;
    font-size: 50px;
}

.file-display-name {
    position: absolute;
    right: 35%;
    padding: 3px 12px;
    font-size: 70%;
    color: white;
    letter-spacing: 1px;
    border-radius: 15%;
    background-color: #3A3B3C;
    margin-top: 10%;
    border: 1px solid gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 125px;
}

#ellipsis2 {
    font-size: 30px;
    position:absolute;
    top: 0px;
    right: 5px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
  }