// database connection
// this must be configured to connect to a postgres database!
PG_USER = codingcoach
PG_HOST = localhost
PG_PASSWORD = db_password
PG_DATABASE = codingcoach
PG_PORT = 5432

// session secret
SESSION_SECRET = MAKE_THIS_A_RANDOM_STRING!

// EMAIL SETTINGS
// set to 'true' in lowercase to enable
EMAIL_TOGGLE = false
EMAIL = EMAIL_ADDRESS
EMAIL_PASSWORD = SEND_FROM_EMAIL_PASSWORD
EMAIL_HOST = smtp.your_host.com
EMAIL_PORT = 465
EMAIL_SECURE = true
EMAIL_FROM = SEND_FROM_EMAIL_ADDRESS

// Password token experation
PW_TOKEN_EXPIRATION = 86400000

// user profile avatar settings
AVATAR_BASE_URL=/assets/uploads/profile/
AVATAR_STORAGE=../client/public/assets/uploads/profile
AVATAR_STORAGE_BASE=../client/public

// Stripe
// set to 'true' in lowercase to enable
STRPIE_TOGGLE = false
STRIPE_TEST_KEY = YOUR_STRIPE_sk_test_KEY 
STRIPE_PROD_KEY = YOUR_STRIPE_production_KEY
// domain sent to stripe that the user and updates are sent to
STRIPE_DOMAIN = http://localhost:2633
// products
STRIPE_CB_PRICE = price_PRICE_CODE
STRIPE_TOKEN_PRICE = price_PRICE_CODE
// Memberships
STRIPE_FOUNDERS_PRICE = price_PRICE_CODE

// Github secret for webhook security
// this is a stub, used to use used for sponsors, but it might still be useful in the future for repo integration
// set to 'true' in lowercase to enable
GITHUB_TOGGLE = false
// Github secret for webhook security
GITHUB_SECRET = YOUR_SECRET
// Github authentication token for API calls
GITHUB_TOKEN = YOUR_TOKEN
// github base url (not likely to change)
GITHUB_BASE_URL = https://api.github.com
// github API URLs
GITHUB_COLLABORATORS = /repos/{owner}/{repo}/collaborators