<div class="dropdown-content" id="dropdown-content">
    <a id="delete-card"><span class="material-icons delete-icon">&nbsp;delete_forever</span><span
        class="icon-text">&nbsp;Delete</span></a>
    <a id="duplicate-card" ><span class="material-icons">&nbsp;filter_none</span><span
        class="icon-text">&nbsp;Duplicate</span></a>
    <a id="copy-link-card"><span class="material-icons">&nbsp;link</span><span class="icon-text">&nbsp;Copy
        Link</span></a>
    <a id="new-tab-card"><span class="material-icons">&nbsp;arrow_outward</span><span class="icon-text">&nbsp;Open in
        new tab</span></a>
    <a id="rename-card"><span class="material-icons">&nbsp;edit_square</span><span
        class="icon-text">&nbsp;Rename</span></a>
</div>


