
<div class="btn-group btn-group-toggle list-toggle-btn mr-5" data-toggle="buttons" >
    <label class="btn btn-secondary active">
    <input  type="radio" name="options" id="option1"  autocomplete="off" checked onclick="toggleGrid()"> Grid
    </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3" autocomplete="off" onclick="toggleList()" > List
    </label>
</div>
