<div id="gallery-header">
    <h1 class="text-secondary pt-3 pl-1 pb-0">My Notes</h1>
    <div class="btn-group btn-group-toggle btn-workspace-topic-toggle mr-5" data-toggle="buttons" >
        <label class="btn btn-secondary active">
        <input  type="radio" name="options" id="option1"  autocomplete="off"  onclick="toggleWorkspaceView()"> Workspace
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off" checked onclick="toggleAllView()"> All
            </label>
        <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off" onclick="toggleTopicView()" > Topic
        </label>
       
    </div>
</div>