
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    
    <body>
      
        <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    
            <a href="/"><i class="material-icons">home</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Homepage</a></span>
            </a><br>
            <a href="/dashboard"><i class="material-icons">remove_from_queue</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard</span></a><br>
            <a href="/note"><i class="material-icons">library_books</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Topic</span></a><br>

             
        </div>
       <script>
       
    
        var mini = true;

        if (mini) {
            document.body.style.marginLeft = "85px";
        }
        
        function toggleSidebar() {
            if (mini) {
                document.getElementById("mySidebar").style.width = "250px";
                document.body.style.marginLeft = "250px";
                this.mini = false;
            } else {
                
                document.getElementById("mySidebar").style.width = "85px";
                document.body.style.marginLeft = "85px";
                this.mini = true;
            }
        }
       </script>
    
       
    </body>
    
    </html>