<div class="modal-body">

    <p>Before we start, we want you to know Agora’s mission is &quot; ... to empower individuals worldwide by creating a free, secure, and equitable platform for scholarly activity, one that resets our expectations by protecting data as a public service, enabling unfettered collaboration and growth. &quot; </p>
    <p>As you can probably imagine having a mission statement such as this, we take your privacy very seriously and thus we want to be as up-front and clear as possible with you in this document. Please reach out to us if you have any questions or concerns! <br>
    </p>

    <p>Here are the details:</p>

    <ul>
        <li>We will not collect any more information than needed to provide you with a great experience.</li>
        <li>When we collect information, it is not with the intent to give or sell it for marketing or related purposes. Data would only be shared to bring you the best experience using Agora and we will, whenever possible, anonymize whatever data we share.
        &nbsp;</li>
        <li>In addition to the small amount of information we collect, we realize that in the course of using this software, you will be trusting us with a lot of your most valuable data. We will not use your data to target you with ads, nor will we allow others to do so.</li>
        <li>We will not sell your data under any circumstances.
        &nbsp;</li>
        <li>Agora&apos;s mission is to keep your data safe and secure. While we have taken every effort to create an environment where your data will be protected forever, we cannot predict the future. If, somehow, Agora is acquired by another company that does want to use your data in a manner other than we have outlined here, they will have to ask your permission before they do so. Read carefully before you agree!
        &nbsp;</li>
        <li>We might occasionally email you about the incredible work happening here at Agora, we will strive to keep the communications interesting and important when we do.
        &nbsp;</li>
        <li>If you delete your content in our application, the information will be removed immediately. Be aware that for a while after our backups may contain data from prior to when you removed it.
        &nbsp;</li>
        <li>We won’t share any data with government or law enforcement unless required to by law.
        &nbsp;</li>
        <li>Inevitably we will need to change this policy. There will probably be a few changes in the near future as we are just getting started and adding new features all the time. These additions will require changes to this privacy policy. We will have to send emails to notify you of the changes, and apologize in advance for any inconvenience caused by doing so.
        &nbsp;

        <br>
        </li>
    </ul>
</div>