<div class="modal-body">

    <p>
        <strong>All users must agree to the terms of service before using the platform.<br></strong><br>
        Data Privacy: The Agora Foundation is committed to protecting user data from commercial exploitation and unauthorized access or disclosure. Users retain ownership of their content, but grant the Agora Foundation a license to use, distribute, and display the content for scholarly activity.
        <br>
        <br>
        Content Guidelines: Users are responsible for the content they upload and share on the platform. This content should not be illegal, hateful, or offensive in any way. The Free Agora Foundation reserves the right to remove any content that violates these guidelines.
        <br>
        <br>
        User Conduct: Users are expected to behave in a professional and respectful manner, and to comply with all applicable laws and regulations. Any form of discrimination, harassment or other unwanted behavior will not be tolerated and will result in account termination.
        <br>
        <br>
        Account Termination: The platform reserves the right to terminate the account of any user who violates the terms of service or engages in any behavior that is inconsistent with the values of the Agora Foundation.
        <br>
        <br>
        Disclaimer of Warranties: The Agora Foundation does not guarantee the availability or reliability of its service. Users use the platform at their own risk. 
        <br>
        <br>
        Liability for Loss of Data: The Agora Foundation will take reasonable measures to protect user data from unauthorized access or disclosure. However, users understand and agree that the Agora Foundation will not be liable for any loss or damage of data due to technical malfunctions, unauthorized access, or other unforeseen events. Users are encouraged to regularly backup their data and to keep copies of important information stored on the platform. The Agora Foundation will not be held responsible for any loss of data or related damages that occur due to the user&apos;s failure to backup their data or to keep copies of important information stored on the platform.
        <br>
        <br>
        Changes to the Terms: The platform reserves the right to modify the terms of service at any time, and will notify users of any material changes.
        <br>
        <br>
        Jurisdiction and Governing Law: The terms of service and use of the platform will be governed by and construed in accordance with the laws of the jurisdiction of New York State.
        <br>
        <br>
    </p>
</div>