

<div class="termsBox">
    <div id="termsBox-container">
        <h5>Terms and Conditions</h5>
        <p>By using this website, you agree to the following terms and conditions:</p>
        <div class="modal-footer">
          <p><a herf="javascript:void(0)" onclick="toggleModal('terms-popup');">Close</a></p>
        </div>
    </div>
</div>