<div id="gallery-header">
    <div class="container-fluid">
        <div class="row pt-2 pb-2">
            <!-- <div class="col-md-2">
                <h4 class="text-primary ">Dashboard</h4>
            </div> -->
            <div class='col-md-4'>
                <!--Search bar-->
                <input id="topic-search" class="card-search form-control" placeholder="Search"
                    oninput="queryTopics(document.getElementById('topic-search').value, topicArr) " />
            </div>

            <div class="btn-toolbar col-md-8" role="toolbar" aria-label="Dashboard Tools">

                <!-- Button for taking you to the adding friends page -->
                <div id="controlbar-buttons-group-2" class="controlbar-buttons btn-group me-2" role="group"
                    aria-label="View">
                    <button id="add-friends" type="button" class="btn btn-dark" onclick="addFriendPage()" checked>
                        <span class="material-symbols-outlined"
                            style="font-size: 20px; margin: 0; padding: 0; color: white">
                        </span>
                        Add Friends
                        <i class="material-icons">person_add</i>
                    </button>
                </div>

                <span id="control-bar-tooltip"></span>

                <div class="btn-group" role="group" aria-label="Sign Out">
                    <button id="btn-logout" type="button" class="btn btn-dark" onclick="logout()">
                        <span class="material-symbols-outlined"
                            style="font-size: 20px; margin: 0; padding: 0; color: white">
                            logout
                        </span>
                    </button>
                </div>

                <div class="title d-flex align-items-center" role="group" aria-label="Title"
                    style="margin-left: 12.5px;">

                    <h4 style=" font-size: 30px; color: black; margin: 0;">Friends</h4>

                </div>

            </div>
        </div>
    </div>
</div>