<div class="dropdown-content" id="dropdown-content">
    <a id="delete-friend-card" data-id="<%= friend.friendship_id %>" onclick="deleteFriend(<%= friend.friendship_id %>)"><span class="material-icons delete-icon">&nbsp;delete_forever</span><span
        class="icon-text">&nbsp;Remove Friend</span></a>
</div>