<div class="dropdown-content" id="dropdown-content">
    <a id="delete-card"><span class="material-icons delete-icon">&nbsp;delete_forever</span><span
        class="icon-text">&nbsp;Remove Friend</span></a>
    <a id="relocate-card"><span class="material-icons">&nbsp;person_add</span><span
        class="icon-text">&nbsp;Go to Dashboard</span></a>
</div>