<!-- Your HTML structure -->
<!-- Friend Card -->
<div class="col mb-3 align-items-stretch gallery-col query-countable a-friend">
  <div class="card h-100" id="f-gv-" onmouseover="toggleMoreOptionsOn(id)" onmouseout="toggleMoreOptionsOff(id)" onclick="friendReroute(id)">
    <div class="card-body d-flex flex-column" id="friend">
      
      <h5 class="card-title" id="f-gv-card-title-">
        <!-- Display user's name here -->
         
        <span id="userName"><%- user.email %></span>
      </h5>
      <p class="card-text mb-4" id="f-gv-card-desc-">
        desc
      </p>
    </div>
    <div class="card-footer">
      <span class="badge badge-dark note-badge">
        Friend
      </span>
    </div>
  </div>
</div>
