<%
    //console.log("events are happening! " + JSON.stringify(feed));
%>

<%
if(feed) {
    for(let i=0; i<feed.length; i++) {
    %> 
    <div class="card" style="width: 100%;">
        
        <div class="card-body product-card-text-raised">
            <h5 class="card-title">
                <a class="profile-top-image" href="/profile/user/<%- feed[i].eventUserId %>">
                    <img src="<%= process.env.AVATAR_IMAGE_WEB_PATH%><%- feed[i].eventImage %>" alt="User Profile" title="User Profile" class="profile-top-image" />
                </a>
                <%- feed[i].eventTitle %>
            </h5>
            
        </div>
    </div> 
    <%
    }
} 
%>