<div class="gc-container">
    <%
    let finishedTopics = 0;

    // get the total number of topics for this workspace
    let completed = (user.enrollments) ? user.enrollments.filter(enrollment => enrollment.workspace.workspaceId == workspace.workspaceId && enrollment.isCompleted).length > 0 : false;
    
    if(user.topicEnrollments) {
        // check to see if any of the topics are complete if so, increment the number
        // first iterate through all the topics in the selected workspace
        for( let i=0; i < workspace.topics.length; i++ ) {
            // next iterate through all of the topics the user has enrolled in.
            for( let j=0; j < user.topicEnrollments.length; j++ ) {
                // see if this topic is part of the selected workspace and if it has been completed
                if( workspace.topics[i].id == user.topicEnrollments[j].topicId && user.topicEnrollments[j].isCompleted ) {
                    // all conditions met, add to completed total
                    finishedTopics++;
                }
            }
        }
    }

    // If the finishedTopics total matches the total topics of the workspace, and the user has not already set as finished,
    // give the user the ability to set it as finished
    if( user.topicEnrollments && finishedTopics == workspace.topics.length && workspace.completable && !completed ) {
        %>
        <h3>The Workspace is ready to be finished!</h3>
        <form id="workspace-form" action="/community/workspace" method="POST">
            <input type="hidden" value="<%- workspace.workspaceId %>" class="form-control form-control-lg" name="workspaceId" id="workspaceId" required>
            <input type="hidden" value="<%- workspace.version %>" class="form-control form-control-lg" name="workspaceVersion" id="workspaceVersion" required>
            <button type="submit" id="workspace-submit" class="btn btn-primary btn-lg">Mark Completed</button>
        </form>
        <%
    }
    if( user.topicEnrollments && finishedTopics == workspace.topics.length && !workspace.completable && !completed ) {
        %>
        <h3>You have completed all the topics currently available!</h3>
        <h4>This Workspace is still in progress however, there are more topics coming soon. Please check back soon!</h4>
        <%
    }
    else if( user.topicEnrollments && finishedTopics == workspace.topics.length && completed ) {
        %>
        <h3>You have completed this workspace!</h3>
        <a href="/community/">Back to Community Home</a>
        <%
    }
    %>
</div>