<ul class="navbar-nav ml-auto sub-menu">
    <li class="nav-item mx-0 mx-lg-1 sub-menu-item"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">Manage Profile</a></li>
    <li class="nav-item mx-0 mx-lg-1 sub-menu-item"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/about">Email Subsciption</a></li>
</ul>
