<div
  class="modal fade agnes-modal-pos"
  id="agnesModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="agnesModalLabel"
  aria-hidden="true"
  data-bs-backdrop="false"
>
  <div class="modal-dialog custom-modal" role="document">
    <div class="modal-content discussion-modal-edges custom-background-color">
      <div class="modal-header">
        <h5 class="modal-title text-center text-white" id="agnesModalLabel">
          Please, Select One
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="btn-remove-content"
        ></button>
      </div>
      <div class="modal-body text-center">
        <!-- Use text-center to center the content -->
        <button class="btn btn-light" id="notesButton">Notes</button>
        <button class="btn btn-secondary" id="paperButton">Paper</button>
      </div>
      <!-- Container for the content -->
      <div id="selectedContent" class="content-margin-top hidden">
        <div class="container d-flex flex-column">
          <!-- Agnes Header Data -->
          <div
            id="citations-cont"
            class="p-3 bg-primary text-white citations-btns-container"
          >
            <p class="citations-title">
              Agness suggests the following articles
            </p>
            <div class="btn-group btn-group-sm citations-btns">
              <button class="btn btn-secondary custom-radius">APA</button>
              <button class="btn btn-secondary custom-radius">MLA</button>
              <button class="btn btn-secondary custom-radius">Harvard</button>
              <button class="btn btn-secondary custom-radius">Chicago</button>
            </div>
          </div>
          <!-- Agness body Data -->
          <!-- <div class="p-3 flex-grow-1 overflow-auto"> -->
          <!-- List of Citations -->
          <!-- <div class="card mb-3">
              <div class="card-header d-flex justify-content-between">
                <span
                  >Wiklund, J. (2013). Ankylosaurus. Fourth Genre: Explorations
                  in Nonfiction, 15(2), 133-142.</span
                >
                <button class="btn btn-danger btn-sm">X</button>
              </div>
              <div class="card-footer">
                <button class="btn btn-primary btn-sm">Cite</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          id="close-button"
        >
          Regenerate
          <span class="material-symbols-outlined ag-generate-icon">cached</span>
        </button>
      </div>
    </div>
  </div>
</div>