<div
  class="fade agnes-modal-pos"
  id="agnesModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="agnesModalLabel"
  aria-hidden="true"
  data-bs-backdrop="false"
  data-bs-focus="false"
>
  <div class="modal-dialog custom-modal" role="document">
    <div
      class="modal-content discussion-modal-edges custom-background-color agnes-modal-shape"
    >
      <div class="modal-header">
        <h5 class="modal-title text-center text-white" id="agnesModalLabel">
          Agnes
        </h5>
        <!-- <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
          <button class="btn btn-primary" type="button" data-bs-toggle="popover">i</button>

        </span> -->
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          id="btn-remove-content"
          data-bs-toggle="modal"
          data-bs-target="#agnesModal"
        ></button>
      </div>
      <div class="modal-body text-center">
        <!-- Use text-center to center the content -->

        <h6 class="modal-title text-center text-white">
          Please select Document Type
        </h6>
        <!-- dropdown for doc type -->
        <select class="form-select" id="doc-type">
          <option value="empty"></option>
          <option value="notes">Notes</option>
          <option value="paper">Paper</option>
        </select>
        <!-- original buttons -->
        <!-- <button class="btn btn-light" id="notesButton">Notes</button>
        <button class="btn btn-secondary" id="paperButton">Paper</button> -->
      </div>
      <!-- Container for the content -->
      <div id="selectedContent" class="content-margin-top hidden">
        <div class="d-flex flex-column">
          <!-- Agnes Header Data -->
          <div
            id="citations-cont"
            class="p-3 bg-primary text-white citations-btns-container"
          >
            <p class="citations-title">Agnes suggests the following articles</p>

            <!-- Citation Dropdown -->
            <select id="citations-dropdown" autocomplete="off">
              <option value="apa" selected>APA</option>
              <option value="mla">MLA</option>
              <option value="harvard">Harvard</option>
              <option value="chicago">Chicago</option>
            </select>

            <div class="all-cards">
              <div class="container citation-card">
                <div class="row card-row-header">
                  <div class="col text-end">
                    <button class="btn btn-danger btn-sm card-close-btn">
                      X
                    </button>
                  </div>
                </div>

                <div class="row card-row-body">
                  <div class="col text-center">
                    <span class="card-citation-text"
                      >Wiklund, J. (2013). Ankylosaurus. Fourth Genre:
                      Explorations in Nonfiction, 15(2), 133-142.</span
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="col text-end">
                    <button class="btn btn-sm card-cite-btn">Cite</button>
                  </div>
                </div>
              </div>
              <div class="container citation-card">
                <div class="row card-row-header">
                  <div class="col text-end">
                    <button class="btn btn-danger btn-sm card-close-btn">
                      X
                    </button>
                  </div>
                </div>

                <div class="row card-row-body">
                  <div class="col text-center">
                    <span class="card-citation-text"
                      >Wiklund, J. (2013). Ankylosaurus. Fourth Genre:
                      Explorations in Nonfiction, 15(2), 133-142.</span
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="col text-end">
                    <button class="btn btn-sm card-cite-btn">Cite</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            id="close-button"
            data-bs-toggle="modal"
            data-bs-target="#agnesModal"
          >
            Regenerate
            <span class="material-symbols-outlined ag-generate-icon"
              >cached</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("doc-type").addEventListener("change", function () {
    var selectedValue = this.value;
    var selectedContent = document.getElementById("selectedContent");
    if (selectedValue === "notes" || selectedValue === "paper") {
      selectedContent.classList.remove("hidden");
    } else {
      selectedContent.classList.add("hidden");
    }
  });
</script>
