<!-- <div class="container citation-card">
    <div class="row card-row-header">
        <div class="col text-end">
        <button class="btn btn-danger btn-sm card-close-btn">
            X
        </button>
        </div>
    </div>

    <div class="row card-row-body">
        <div class="col text-center">
        <span class="card-citation-text"
            >Wiklund, J. (2013). Ankylosaurus. Fourth Genre:
            Explorations in Nonfiction, 15(2), 133-142.</span
        >
        </div>
    </div>

    <div class="row">
        <div class="col text-end">
        <button class="btn btn-sm card-cite-btn">Cite</button>
        </div>
    </div>
</div> -->