<!-- The Modal -->
<div id="open-topic-modal-div" class="new-resource-modal">

    <!-- Modal content -->
    <div class="resource-modal-content">
  
      <span class="close">&times;</span>
      <h4 id="modal-title">Open Existing Topic</h4>
  
      <div id="resource-modal-body">
        <div class="manager-options">

            <div class="option-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option">Topic 1</div>
            </div>

            <div class="option-div" id="file-upload-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option">Topic 2</div>
            </div> 
            
            <div class="option-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option">Topic 3</div>
            </div>
        </div>

        <div id="options-divider"></div>

        <div class="manager-options">
            
            <div class="option-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option">Topic 4</div>
            </div>

            <div class="option-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option">Topic 5</div>
            </div>

            <div class="option-div">
                <span class="material-symbols-outlined modal-icon">folder</span>
                <div class="option">Topic 6</div>
            </div>
        </div>
      </div>
  
    </div>
  </div>