<div id="gallery-header">
    <div class="container-fluid">
        <div class="row pt-2 pb-2">
            <h4 style=" font-size: 30px; color: black;">Add Friends</h4>

            <div class='col-md-4'>
                <!--Search bar-->
                <input id="user-search" class="card-search form-control" placeholder="Enter a username"/>
            </div>

            <div class="btn-toolbar col-md-8" role="toolbar" aria-label="Dashboard Tools">

                <div class="btn-group" role="group" aria-label="Search">
                    <button id="btn-search" type="button" class="btn btn-dark" style="margin-right: 7.5px;">
                        <span class="material-symbols-outlined"
                            style="font-size: 20px; margin: 0; padding: 0; color: white;">
                            Search
                        </span>
                    </button>

                </div>

                <div class="btn-group" role="group" aria-label="Sign Out">
                    <button id="btn-logout" type="button" class="btn btn-dark" onclick="logout()">
                        <span class="material-symbols-outlined"
                            style="font-size: 20px; margin: 0; padding: 0; color: white">
                            logout
                        </span>
                    </button>

                </div>

                <!--
                <div class="title d-flex align-items-center" role="group" aria-label="Title"
                    style="margin-left: 12.5px;">

                    <h4 style=" font-size: 30px; color: black; margin: 0;">Add Friends</h4>

                </div>-->

            </div>
        </div>
    </div>
</div>