<!-- Your HTML structure -->
<div id="grid-container" style="display: block">
  <div class="row row-cols-1 row-cols-md-3 g-4 " id="gallery-row">
    <div class="col mb-3 gallery-col align-items-stretch gallery-col">
      <div class="card h-100" onclick="inviteFriend()">
        <div class="card-body d-flex flex-column mt-1" id="add">
          <img src="/assets/img/buttons/invite-friend.png" class="mx-auto d-block btn-add-content" alt="Invite a friend">
        </div>
      </div>
    </div>
  </div>
</div>
