<% //name:string, description:string, tags:array, content:array %>

<!-- 

  -------TO ASK GORMANLY-------

  - How can we do something simple like print the current users information
    -- see example comment below

  -->

<!-- Your HTML structure -->
<div id="grid-container" style="display: block">
  <div class="row row-cols-1 row-cols-md-3 g-4 " id="gallery-row">
    <div class="col mb-3 gallery-col align-items-stretch gallery-col">
      <div class="card h-100" onclick="inviteFriend()">
        <div class="card-body d-flex flex-column mt-1" id="add">
          <img src="/assets/img/buttons/invite-friend.png" class="mx-auto d-block btn-add-content" alt="Invite a friend">
        </div>
        <div class="card-body d-flex flex-column" id="workspace">
          <!-- 
            Add current users template here:
              - dont forget to add <%= %> (friendId), after the w-gv-card-title- -->
          <h5 class="card-title" id="w-gv-card-title-">
              Users Email
          </h5>
      </div>
    </div>
  </div>
</div>

<!--

  -------TO ASK GORMANLY CONTINUED-------

  - Why can grid-template under dashboard/partials/gallery/ 
  use ownerWorkspaces but not this one
    -- For example, why doesn't the commented code below recognize ownerWorkspaces
    -- remove the "!" from the <% %> in the code

-->

<!-- <div id="grid-container" style="display: none">
  
  <div class="row row-cols-1 row-cols-md-3 g-4 " id="gallery-row">
    <div class="col mb-3 gallery-col align-items-stretch gallery-col">
      <div class="card h-100" onclick = "createNewWorkspace()">
          <div class="card-body d-flex flex-column mt-1" id="add">
            <img src="/assets/img/buttons/new-content.png" class="mx-auto d-block btn-add-content" alt="Add content">
          </div>
      </div>
    </div>
        
    <!%
      for (let i = 0; i <  ownerWorkspaces.length ; i++) { 
        let topics = [];
        let tags = [];
        topics = ownerWorkspaces[i].topics.map(a => a.topicName);
        tags = ownerWorkspaces[i].tags.map(a => a.tag);
        renderCard(ownerWorkspaces[i].workspaceId,ownerWorkspaces[i].workspaceName,ownerWorkspaces[i].workspaceDescription,tags,"Workspace", topics); 
      }

      //render resources for Now
      for (let i = 0; i <  ownerTopics.length ; i++) { 
        
        renderCard(ownerTopics[i].topicId,ownerTopics[i].topicName,ownerTopics[i].topicDescription,["Biom","Chem"],"Topic", null) 
          
      }
      
    <!%=//c console.log(ownerWorkspaces[0]) %>
  </div> 
</div>  -->