
<!-- add-friends control bar-->
<%- include('./control-bar.ejs'); %>  
<% //name:string, description:string, tags:array, content:array %>

<hr class="mt-0">
<div class="container" id="friends-container" style="display: none;">
  <%- include('./grid-template.ejs'); %>

</div>      