<div class="dropdown-content" id="dropdown-content">
    <a id="copy-link-card"><span class="material-icons">&nbsp;link</span><span class="icon-text">&nbsp;Copy
        Link</span></a>
    <a id="new-tab-card"><span class="material-icons">&nbsp;arrow_outward</span><span class="icon-text">&nbsp;Open in
        new tab</span></a>
</div>


