<h5 class="text-primary"><%- topicEnrollment.topic.activity.activityName %></h5>
<%- topicEnrollment.topic.activity.activityDescription %>
<%- topicEnrollment.topic.activity.activityHtml %>
<hr />
<h3>Sumbit Activity</h3>

<form action="/community/topic/update/4" method="GET">
    <textarea id='activity_submission_text' name='submission_text' rows=4 cols="45" ><%- (!!topicEnrollment.completedActivity)?topicEnrollment.completedActivity.submissionText:'' %></textarea><br />
    <button type="submit" id="checkout-button" class="btn btn-primary btn-lg">Submit</button>
</form>

